<mat-toolbar color="primary" class="shadow-md text-white">
  <div class="flex space-x-2 overflow-scroll">
<!--    <span>Order System</span>-->
    <button mat-raised-button [routerLink]="'/product'">Products</button>
    <button mat-raised-button [routerLink]="'/order'">Orders</button>
    <button mat-raised-button [routerLink]="'/station'">Stations</button>
    <div *ngIf="!isAuthenticated">
      <a mat-button [routerLink]="'/login'"> Login </a>
    </div>
    <div *ngIf="isAuthenticated">
      <a mat-button (click)="logout()"> Logout </a>
    </div>
  </div>

</mat-toolbar>
